{%extends 'manage_container\base.html'%}
{%load static%}
{%block data%}




<div class="row">
    <div class="col-3">
        <div class="list-group" id="myList" role="tablist">
          <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab"><img class="align-items-center" src="{% static 'img\containers\manage\main.png'%}" width="17"> Home</a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#networks" role="tab"><img class="align-items-center" src="{% static 'img\containers\manage\net.png'%}" width="17"> Networks</a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#storage" role="tab"><img class="align-items-center" src="{% static 'img\containers\manage\storage.png'%}" width="17"> Storage</a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#overview" role="tab"><img class="align-items-center" src="{% static 'img\containers\manage\info.png'%}" width="17"> All info</a>
        </div>
    </div>
    <!-- Tab panes -->
    <div class="col-7">
        <div class="tab-content">
          <div class="tab-pane active" id="home" role="tabpanel">
              <h3>{{c.Name}} home</h3>
              <br>

              {%if not c%}
                <p>No data to show</p>
              {%else%}
                <table class="table table-sm table-hover">

                    <tbody>
                        <tr>
                            <th>Name: </th>
                            <td>
                                {{c.Name}}
                            </td>
                        </tr>
                        <tr>
                            <th>Status: </th>
                            <td>
                                {%if c.State.Status == 'exited'%}
                                      <img src="{%static 'img\containers\stop.jpg'%}" height="15">
                                      <p class="text text-danger"> Exited</p>

                                      <a href="{%url 'container_action' container=c.Id action='start'%}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Start</a>
                                    {%elif c.State.Status == 'created'%}

                                       <div class="spinner-grow text-warning spinner-grow-sm" role="status">
                                       </div>
                                       <p class="text text-warning"> Created</p>
                                    {%elif c.State.Status == 'running'%}
                                      <div class="spinner-border spinner-border-sm text-success" role="status">
                                      </div>
                                      <p class="text text-success"> Running</p>

                                      <a href="{%url 'container_action' container=c.Id action='stop' %}" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Stop</a>
                                    {%else%}
                                       <div class="spinner-grow text-warning spinner-grow-sm" role="status">
                                       </div>
                                       <p class="text text-warning"> {{c.State}}</p>
                                {%endif%}

                            </td>
                        </tr>
                        <tr>
                            <th>Id: </th>
                            <td>
                                {{c.Id}}
                            </td>
                        </tr>
                        <tr>
                            <th>Image: </th>
                            <td>
                                {{c.Config.Image}}
                            </td>
                        </tr>
                        <tr>
                            <th>Server: </th>
                            <td>
                                {{db.container_server.port}}@{{db.container_server.host}}
                            </td>
                        </tr>
                    </tbody>

                    <tbody>
                        {%if c.State.Status == 'running' %}
                        <tr>
                            <th>PID: </th>
                            <td>
                                {{c.State.Pid}}
                            </td>
                        </tr>
                        {%endif%}
                        <tr>
                            <th>Platform: </th>
                            <td>
                                {{c.Platform}}
                            </td>
                        </tr>
                        <tr>
                            <th>Hostname: </th>
                            <td>
                                {{c.Config.Hostname}}
                            </td>
                        </tr>
                        <tr>
                            <th>Command: </th>
                            <td>
                                {{c.Config.Cmd.0}}
                            </td>
                        </tr>
                    {%if c.State.Status == 'running' %}
                    <tbody>
                        <tr>
                            <th>IP Address: </th>
                            <td>
                                {{c.NetworkSettings.IPAddress}}
                            </td>
                        </tr>
                        <tr>
                            <th>Gateway: </th>
                            <td>
                                {{c.NetworkSettings.Gateway}}
                            </td>
                        </tr>
                        <tr>
                            <th>Mac Address: </th>
                            <td>
                                {{c.NetworkSettings.MacAddress}}
                            </td>
                        </tr>
                        {% if c.NetworkSettings.Ports%}
                            <tr>
                                <th>Ports</th>
                                <td class="text text-primary">
                                    {%for k,v in c.NetworkSettings.Ports.items%}
                                    <span>{{k}}: </span>
                                    <span>
                                        {%for ip in v%}
                                            Host Ip: {{ip.HostIp}} HostPort: {{ip.HostPort}}
                                        {%endfor%}
                                    </span>
                                    <br>
                                    {%endfor%}
                                </td>
                            </tr>
                        {%endif%}
                    </tbody>
                    {%endif%}
                </table>
              {%endif%}
          </div>

          <div class="tab-pane" id="networks" role="tabpanel">
              <h3>{{c.Name}} network configuration</h3>
              <br>

              <table class="table table-sm table-hover">
                  {%for k, v in c.NetworkSettings.items%}
                      <tbody>
                            {%if v == ''%}
                                <th>{{k}}</th>
                                <th class="text text-danger">None</th>
                            {%elif k == 'Networks'%}
                                <th>{{k}}</th>
                                <th>
                                {%for k_n, v_n in v.items%}
                                    <div class="text text-primary">
                                        <h5><b>{{k_n}}:</b></h5>
                                    </div>
                                    {%for k_n_d, v_n_d in v_n.items%}
                                        <br>
                                        {{k_n_d}}:
                                        {%if v_n_d != ''%}
                                            <b class="text text-success">{{v_n_d | slice:"15"}}</b>
                                        {%else%}
                                            <b class="text text-danger">None</b>
                                        {%endif%}
                                    {%endfor%}
                                {%endfor%}
                                </th>
                            {%elif k == 'Ports'%}
                                <th>{{k}}</th>
                                <th>
                                    {%for k_port, v_port in v.items%}
                                    <table class="table table-sm">
                                        <tbody>
                                            <div class="text text-success">
                                                {{forloop.counter}}:
                                                {{k_port}}
                                                {%for list in v_port%}
                                                    {%for k_list, v_list in list.items%}
                                                        {{k_list}}{{v_list}}
                                                    {%endfor%}
                                                {%endfor%}
                                                <br>
                                            </div>
                                        </tbody>
                                    </table>
                            {%endfor%}
                                </th>
                            {%else%}
                                <th>{{k}}</th>
                                <th class="text text-success">{{v | slice:"15"}}</th>
                            {%endif%}
                      </tbody>
                  {%endfor%}
              </table>
          </div>

          <div class="tab-pane" id="storage" role="tabpanel">
              <h3>{{c.Name}} Storage configuration</h3>
              <br>

              {%for m in c.Mounts%}
              <h5 class="text text-primary"><b>Mount data No'{{forloop.counter}}:</b></h5>
              <br>
                  <table class="table table-sm table-hover">
                          <tbody>
                              {%for k, v in m.items%}
                                  <tr>
                                      <th scope="row">{{k}}</th>
                                      <td>{{v}}</td>
                                  </tr>
                              {%endfor%}
                          </tbody>
                  </table>
                  <br>
              {%endfor%}

          </div>

          <div class="tab-pane" id="overview" role="tabpanel">
              <h3>{{c.Name}} All information</h3>
              <br>
              <table class="table table-sm table-hover">
              {%for k, v in c.items%}
                <tr>
                    {%if k != "NetworkSettings" and k != "Mounts"%}
                        <th>{{k}}:</th>
                        {%if v == '' %}
                            <th class="text text-danger">None</th>
                        {%else%}
                            {%if v.0%}
                                <td class="text text-success"><b>{{v | slice:"15"}}</b></td>
                            {%else%}
                                {%if v%}
                                    <th>
                                        {%for k_1, v_1 in v.items%}
                                            {{k_1}}:
                                            {%if v_1 == False%}
                                                <span class="text text-danger">{{v_1}}</span>
                                            {%elif v_1 == True %}
                                                <span class="text text-primary">{{v_1}}</span>
                                            {%elif v_1|length == 0 %}
                                                <span class="text text-danger">None</span>
                                            {%elif v_1.0%}
                                                {%if v_1.0.1|length == 0%}
                                                    <span class="text text-success">{{v_1}}</span>
                                                {%else%}
                                                    {%for line in v_1%}
                                                        <il class="text text-success">{{line}}</il>
                                                    {%endfor%}
                                                {%endif%}
                                                <br>
                                            {%else%}
                                                {%if not v_1%}
                                                    <span class="text text-danger">None</span>
                                                {%else%}
                                                    {% for k_2, v_2 in v_1.items %}
                                                         <br>
                                                         <span class="text text-primary">{{k_2}}:</span>
                                                         {% for k_3, v_3 in v_2.items %}
                                                            <span class="text text-info">{{k_3}}</span>
                                                            {%if v_3 != ""%}
                                                                <span class="text text-info">{{v_3}}</span>
                                                            {%else%}
                                                                <span class="text text-danger">None</span>
                                                            {%endif%}
                                                         {%endfor%}
                                                        {%if v_2|length > 40 %}
                                                            <span class="text text-success">{{v_2 | slice:"40"}}...</span>
                                                        {%elif v_2|length > 2%}
                                                            <span class="text text-success">{{v_2}}</span>
                                                        {%else%}
                                                            <span class="text text-danger">None</span>
                                                        {%endif%}
                                                    {%endfor%}
                                                    <br>

                                                {%endif%}
                                            {%endif%}
                                            <br>
                                        {%endfor%}
                                    </th>
                                {%else%}
                                    <th class="text text-danger">None</th>
                                {%endif%}
                            {%endif%}
                        {%endif%}
                    {%endif%}
                </tr>
              {%endfor%}
              </table>
          </div>

        </div>
    </div>
</div>
{%endblock%}

{%block image%}
    {%static '/img/containers/manage/main.png'%}






{%endblock%}

