{%extends 'manage_container\base.html'%}
{%load static%}
{%block data%}

<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Basic</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Network</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Storage</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

          <table class="table table-sm table-hover">
              <tbody>
                <tr>
                  <th scope="row">Name</th>
                  <td>{{c.Name | slice:"10"}}</td>
                </tr>
                <tr>
                  <th scope="row">Id</th>
                  <td>{{c.Id | slice:"10"}}</td>
                </tr>
                <tr>
                  <th scope="row">State</th>
                  <td>{{c.State.Status}}</td>
                </tr>
                <tr>
                  <th scope="row">Created</th>
                  <td>{{c.Created | slice:"19"}}</td>
                </tr>
                <tr>
                  <th scope="row">Image</th>
                  <td>{{c.Image | slice:"19"}}</td>
                </tr>
                <tr>
                  <th scope="row">Hostname</th>
                  <td>{{c.Config.Hostname}}</td>
                </tr>

              </tbody>
          </table>

      </div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

          <table class="table table-sm table-hover">
              <tbody>
                <tr>
                  <th scope="row">IP address</th>
                  <td>{{c.NetworkSettings.IPAddress}}</td>
                </tr>
                <tr>
                  <th scope="row">IPv6 address</th>
                  <td>{{c.NetworkSettings.GlobalIPv6Address}}</td>
                </tr>
                <tr>
                  <th scope="row">Mac address</th>
                  <td>{{c.NetworkSettings.MacAddress}}</td>
                </tr>
                <tr>
                  <th scope="row">Gateway</th>
                  <td>{{c.NetworkSettings.Gateway}}</td>
                </tr>
              </tbody>
          </table>

      </div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>
  </div>
</div>
{%endblock%}

{%block image%}
    {%static '/img/containers/manage/main.png'%}
{%endblock%}