{%extends 'base_containers.html'%}
{%load static%}
{%block data%}

<h4>Total containers: <b class="text text-primary">{{cn|length}}</b></h4>
<br>

    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Server</th>
          <th scope="col">Id</th>
          <th scope="col">Status</th>
          <th scope="col">Names</th>
          <th scope="col">Image</th>
          <th scope="col">Command</th>
          <th scope="col">Created at</th>
          <th scope="col">Manage</th>
        </tr>
      </thead>
      <tbody>
        {%if cn%}
          {%for c in cn%}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>
                <img src="{%static '\img\containers\docker_blue_icon.png'%}" width="20"> {{c.server}}
              </td>
              <td>{{c.id}}</td>
              <td>
                <div class="d-flex">
                {%if c.State == 'exited'%}
                  <img src="{%static 'img\containers\stop.jpg'%}" height="15">
                  <p class="text text-danger"> Exited</p>
                  <div class="custom-control custom-switch">

                {%elif c.State == 'created'%}

                   <div class="spinner-grow text-warning spinner-grow-sm" role="status">
                   </div>
                   <p class="text text-warning"> Created</p>

                {%elif c.State == 'running'%}
                  <div class="spinner-border spinner-border-sm text-success" role="status">
                  </div>
                  <p class="text text-success"> Running</p>
                {%else%}
                   <div class="spinner-grow text-warning spinner-grow-sm" role="status">
                   </div>
                   <p class="text text-warning"> {{c.State}}</p>
                {%endif%}
                 </div>
              </td>
              <td>{{c.names}}</td>
              <td>{{c.imageID}}</td>
              <td>{{c.command}}</td>
              <td>{{c.created}}</td>
              <td>
                <!-- Button trigger modal -->
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#model_{{c.id}}">
                  Manage
                </button>
              </td>

            </tr>
            <!-- The Modal -->
          <div class="modal fade" id="model_{{c.id}}">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">{{c.names}}</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <iframe src="/containers/{{c.id}}/manage/main/" title="Manage {{c.names}}" width="1080" height="800"></iframe>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>
          {%endfor%}
        {%endif%}
      </tbody>
    </table>

{%endblock%}